/* ================= */
/* Archive Post 1/2 */
/* ================= */

@media screen and (min-width: 981px) {
    .free-archive-blog .et_pb_column_1_2:nth-child(2n) {
        margin-right: 0!important;
    }
	.free-archive-blog .et_pb_column_1_2:nth-child(2n+1) {
		clear: both;
	}
}

@media screen and (max-width: 980px) and (min-width: 675px) {
	.free-archive-blog .et_pb_gutters2 .et_pb_column_1_2, .free-archive-blog .et_pb_gutters2.et_pb_row .et_pb_column_1_2,
		.free-archive-blog .et_pb_gutters2 .et_pb_column_1_3, .free-archive-blog .et_pb_gutters2.et_pb_row .et_pb_column_1_3 {
		width: 48.5%;
	}
	.free-archive-blog .et_pb_gutters1 .et_pb_column_1_2, .free-archive-blog .et_pb_gutters1.et_pb_row .et_pb_column_1_2,
		.free-archive-blog .et_pb_gutters1 .et_pb_column_1_3, .free-archive-blog .et_pb_gutters1.et_pb_row .et_pb_column_1_3 {
		width: 50%;
	}
	.free-archive-blog .et_pb_column_1_2:nth-child(2n),
		.free-archive-blog .et_pb_column_1_3:nth-child(2n) {
		margin-right: 0!important;
	}
	.free-archive-blog .et_pb_column_1_2:nth-child(2n+1),
		.free-archive-blog .et_pb_column_1_3:nth-child(2n+1) {
		clear: both;
	}
	.free-archive-blog .et_pb_gutters2 .et_pb_column, .free-archive-blog .et_pb_gutters2.et_pb_row .et_pb_column {
		margin-right: 3%;
	}
}



/* ==================== */
/* Archive Post Styling */
/* ==================== */

.free-archive-blog .et_pb_row {
	width: 100%;
}
.free-archive-blog .et_pb_post {
	position: relative;
}
.free-archive-blog .et_pb_post .entry-title {
    font-weight: 700!important;
	font-size: 20px;
	line-height: 1.3em;
}
.free-archive-blog .et_pb_post .post-meta, .free-archive-blog .et_pb_post .post-meta a {
	color: #aaa!important;
    font-size: 0px!important;
	line-height: 1.4em;
}
.free-archive-blog .et_pb_post .post-meta span, .free-archive-blog .et_pb_post .post-meta a {
	font-size: 13px!important;
}
.free-archive-blog .et_pb_post .post-meta span:before {
    content: '-';
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}
.free-archive-blog .et_pb_post .post-meta span:first-child:before {
	display: none;
}

.free-archive-blog .et_pb_post .free-post-meta-category-extra {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
	bottom: auto;
    margin-left: 0;
    width: 100%;
    display: block;
    margin-bottom: 9px;
    text-align: right;
	z-index: 10;
}
.free-archive-blog .et_pb_post .free-post-meta-category-extra a {
	text-transform: uppercase;
    font-weight: 700;
	font-size: 11px!important;
	letter-spacing: 1px;
    padding: 8px 12px;
    border-radius: 100px;
    display: inline-block;
	margin-bottom: 6px;
	line-height: 1.4em;
}
.free-archive-blog .et_pb_post.has-post-thumbnail .free-post-meta-category-extra, .free-archive-blog .et_pb_post.format-video .free-post-meta-category-extra {
	position: absolute;
    top: 18px;
    right: 18px;
	margin-left: 18px;
	text-align: center;
	width: auto;
}
.free-archive-blog .et_pb_post .free-post-meta-category-extra {
	color: rgba(0,0,0,0);
}
.free-archive-blog .free-archive-blog-individual .et_main_video_container {
	margin: -20px -20px 29px!important;
}
.free-archive-blog .et_pb_post .post-meta .free-post-meta-category, .free-archive-blog .et_pb_post .post-meta .free-post-meta-category:before {
	display: none;
}

.free-archive-blog .et_pb_post .entry-title, .free-archive-blog .et_pb_post .post-meta, .free-archive-blog .et_pb_post .post-content {
	padding-left: 8px;
	padding-right: 8px;
}

.free-archive-blog .et_pb_post {
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.08);
	border: none;
}
.free-archive-blog .et_pb_post .more-link {
	margin: 16px 0 8px 0;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    transition: all 0.3s ease;
}
.free-archive-blog .et_pb_post .more-link:after {
    font-family: ETmodules;
    content: '\39';
    margin-left: 5px;
    top: 1px;
    position: relative;
}
.free-archive-blog .free-archive-blog-normal .et_pb_post .more-link:hover {
	letter-spacing: 1px;
}


/* ====================== */
/* Archive Post Hover CSS */
/* ====================== */

.free-archive-blog .et_pb_post, .free-archive-blog .et_pb_post .free-background-overlay:before {
	transition: all 0.3s ease;
}
.free-archive-blog .et_pb_post .free-background-overlay:before {
	background: transparent!important;
}
.free-archive-blog .et_pb_post:hover .free-background-overlay:before {
	background: rgba(0,0,0,0.4)!important;
}
.free-archive-blog .et_pb_post:hover {
    box-shadow: 0 18px 42px 0 rgba(0,0,0,0.12);
}