/* ======================= */
/* Full Width Archive Blog */
/* ======================= */
.free-archive-blog-full-width.container, .free-archive-blog-full-width .et_pb_row {
    max-width: none;
    width: 100%;
    padding: 0!important;
}
.free-archive-blog-full-width.container:before, .free-archive-blog-full-width .container:before {
	display: none!important;
}

/* ====================== */
/* 4 Column into 2 Column */
/* ====================== */
@media screen and (max-width: 1180px) and (min-width: 981px) {
	.free-archive-blog .et_pb_column_1_4 {
		width: 50%!important;
	}
}
@media screen and (max-width: 479px) {
	.free-archive-blog .et_pb_row .et_pb_column.et_pb_column_1_4 {
		width: 100%!important;
	}
}


/* ================= */
/* Overlay Blog Post */
/* ================= */
.free-archive-blog .et_pb_column {
	margin-bottom: 0;
}

/* ==================== */
/* Archive Post Styling */
/* ==================== */
.free-archive-blog .et_pb_row {
	width: 100%;
}
.free-archive-blog .et_pb_post {
	position: relative;
	border: none;
}
.free-archive-blog .et_pb_post .entry-title {
    font-weight: 700!important;
	font-size: 20px;
	line-height: 1.3em;
}
.free-archive-blog .et_pb_post .post-meta, .free-archive-blog .et_pb_post .post-meta a {
	color: rgba(255,255,255,0.82)!important;
    font-size: 0px!important;
	line-height: 1.4em;
	font-weight: 400;
}
.free-archive-blog .et_pb_post .post-meta span, .free-archive-blog .et_pb_post .post-meta a {
	font-size: 13px!important;
}
.free-archive-blog .et_pb_post .post-meta span:before {
    content: '-';
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}
.free-archive-blog .et_pb_post .post-meta span:first-child:before {
	display: none;
}

.free-archive-blog .et_pb_post .free-post-meta-category-extra {
    position: relative;
    color: rgba(0,0,0,0);
    z-index: 2;
    margin-bottom: 5px;
}
.free-archive-blog .et_pb_post .free-post-meta-category-extra a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px!important;
    letter-spacing: 1px;
    padding: 4px 8px;
    display: inline-block;
    margin-bottom: 6px;
    line-height: 1.4em;
}
.free-archive-blog .et_pb_post .post-meta .free-post-meta-category, .free-archive-blog .et_pb_post .post-meta .free-post-meta-category:before {
	display: none;
}

.free-archive-blog .et_pb_post:not(.has-post-thumbnail):before {
    content: '';
    display: block;
    position: absolute!important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    pointer-events: none;
	transition: all 0.3s ease;
	background: transparent;
}


/* ====================== */
/* Archive Post Hover CSS */
/* ====================== */

.free-archive-blog .et_pb_post, .free-archive-blog .et_pb_post .free-background-overlay:before {
	transition: all 0.3s ease;
}
.free-archive-blog .et_pb_post .free-background-overlay:before {
	background: transparent!important;
}
.free-archive-blog .et_pb_post:hover .free-background-overlay:before, .free-archive-blog .et_pb_post:hover:before {
	background: rgba(0,0,0,0.4)!important;
}

/* ======================= */
/* Archive Blog Pagination */
/* ======================= */
.free-archive-blog-pagination-wrapper {
	padding: 0!important;
	text-align: center;
}
.free-archive-blog-pagination-wrapper .free-archive-blog-pagination {
	margin-top: 46px;
    margin-bottom: 54px;
	padding-top: 28px;
}

/* =========================== */
/* Archive Blog Featured Posts */
/* =========================== */
@media screen and (min-width: 1181px) {
	.free-archive-blog .et_pb_row .et_pb_column:nth-child(-n + 2) {
		width: 50%;
	}
	.free-archive-blog .et_pb_row .et_pb_column:nth-child(-n + 2) .et_pb_post {
		height: 500px;
	}
	.free-archive-blog .et_pb_row .et_pb_column:nth-child(-n + 2) .et_pb_post .entry-title {
		font-size: 30px!important;
	}
}